.fullscreen-background {
    min-height: 100dvh;
    width: 100%;
    background-color: #7d9bad;

    position: absolute;
    inset: 0;

    cursor: pointer;
    transition: transform 250ms ease-in-out, filter 250ms linear;

    img {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .gradient-overlay {
        position: absolute;
        inset: 0;

        background: rgb(52, 73, 94);
        background: linear-gradient(0deg, rgba(52, 73, 94, 0.8547794117647058) 0%, rgba(52, 73, 94, 0.5) 30%, rgba(52, 73, 94, 0) 100%);
    }
}

.content-row {
    position: relative;
    display: flex;
    height: 100dvh;

    color: #ecf0f1;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-shadow:
            1px 1px 0px currentColor,
            3px 3px 6px rgba(0, 0, 0, 0.4);
    }

    .column {
        box-sizing: border-box;
        position: relative;
        display: grid;
        place-items: center;
        padding-inline: 6rem;
        width: 100%;

        &:first-of-type {
            justify-content: flex-end;
        }

        &:last-of-type {
            justify-content: flex-start;
        }
    }

    .login-section {
        background-color: #FFFFFF44;
        backdrop-filter: blur(6px);
        border-left: 1px solid white;
        box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.2);
        padding-right: 100px;
    }
}

.welcome-card {
    width: 100%;
    max-width: 650px;
    // max-width: 700px;
    box-sizing: border-box;

    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    p {
        margin: 1rem 0;
        text-align: justify;
    }
}

.login-form {
    box-sizing: border-box;
    width: 650px;

    h2 {
        font-size: 3rem;
        text-align: center;
    }

    .input-container {
        display: grid;
        width: 100%;

        &:first-of-type {
            margin-bottom: 1rem;
        }


        label {
            padding-bottom: .25rem;
        }

        input {
            font-size: clamp(1.25rem, 1.5vw, 2rem);
            border-radius: 4px;
            padding: 6px 10px;
            width: 100%;
            box-sizing: border-box;
            // background
            background: transparent;
            backdrop-filter: brightness(0.95);
            border: none;
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
        }

    }

    .options-row {
        display: flex;
        gap: .25rem;
        width: 100%;
        margin-top: .5rem;

        a {
            margin-left: auto;
            text-decoration: underline;
            color: currentColor;
        }
    }

    button {
        font-size: clamp(1rem, 1.25vw, 1.75rem);
        cursor: pointer;
        margin-top: 1rem;
        border: none;
        padding: 6px 10px;
        border-radius: 4px;
        width: 100%;
        // background-color: #ecf0f1CC;
        // color: black;
        background-color: #34475b;
        color: currentColor;
    }
}