$primaryBgColor: #ecf0f1;

#record-display-container {
  background: $primaryBgColor;
  // padding: 15px;
  grid-area: content;
  overflow-x: auto;
  height: 100%;
  table {
    border-collapse: collapse;
    min-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  tr:hover {background-color: #f7f1e3;}
  tr {
    border-bottom: 1px solid #2c3e50;
  }
  th {
    background-color: #2e2d2b;
    color: #f7f1e3;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  }
  .record-display-container{
    button {
    h2 {
      padding: none;
    }
  }
  
  }
}