@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fullscreen-background {
  min-height: 100dvh;
  width: 100%;
  background-color: #7d9bad;
  position: absolute;
  inset: 0;
  cursor: pointer;
  transition: transform 250ms ease-in-out, filter 250ms linear;
}
.fullscreen-background img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.fullscreen-background .gradient-overlay {
  position: absolute;
  inset: 0;
  background: rgb(52, 73, 94);
  background: linear-gradient(0deg, rgba(52, 73, 94, 0.8547794118) 0%, rgba(52, 73, 94, 0.5) 30%, rgba(52, 73, 94, 0) 100%);
}

.content-row {
  position: relative;
  display: flex;
  height: 100dvh;
  color: #ecf0f1;
}
.content-row h1,
.content-row h2,
.content-row h3,
.content-row h4,
.content-row h5,
.content-row h6 {
  text-shadow: 1px 1px 0px currentColor, 3px 3px 6px rgba(0, 0, 0, 0.4);
}
.content-row .column {
  box-sizing: border-box;
  position: relative;
  display: grid;
  place-items: center;
  padding-inline: 6rem;
  width: 100%;
}
.content-row .column:first-of-type {
  justify-content: flex-end;
}
.content-row .column:last-of-type {
  justify-content: flex-start;
}
.content-row .login-section {
  background-color: rgba(255, 255, 255, 0.2666666667);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-left: 1px solid white;
  box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding-right: 100px;
}

.welcome-card {
  width: 100%;
  max-width: 650px;
  box-sizing: border-box;
}
.welcome-card h1 {
  font-size: 5rem;
  line-height: 5rem;
}
.welcome-card p {
  margin: 1rem 0;
  text-align: justify;
}

.login-form {
  box-sizing: border-box;
  width: 650px;
}
.login-form h2 {
  font-size: 3rem;
  text-align: center;
}
.login-form .input-container {
  display: grid;
  width: 100%;
}
.login-form .input-container:first-of-type {
  margin-bottom: 1rem;
}
.login-form .input-container label {
  padding-bottom: 0.25rem;
}
.login-form .input-container input {
  font-size: clamp(1.25rem, 1.5vw, 2rem);
  border-radius: 4px;
  padding: 6px 10px;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  -webkit-backdrop-filter: brightness(0.95);
          backdrop-filter: brightness(0.95);
  border: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
}
.login-form .options-row {
  display: flex;
  gap: 0.25rem;
  width: 100%;
  margin-top: 0.5rem;
}
.login-form .options-row a {
  margin-left: auto;
  text-decoration: underline;
  color: currentColor;
}
.login-form button {
  font-size: clamp(1rem, 1.25vw, 1.75rem);
  cursor: pointer;
  margin-top: 1rem;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  width: 100%;
  background-color: #34475b;
  color: currentColor;
}

.webpage {
  font-size: 7rem;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: black !important;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body,
html {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #222;
  background-color: #f7f1e3;
}

body {
  height: 100%;
}

main {
  display: flex;
  align-items: flex-start;
}
main .content {
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  container-name: content;
  container-type: inline-size;
}
main .content.flex {
  display: flex;
}
main .content.column {
  flex-direction: column;
}
main .content.center {
  justify-content: center;
  align-items: center;
}

.fullscreen-background {
  min-height: 100dvh;
  width: 100%;
  background-color: #7d9bad;
  position: fixed;
  inset: 0;
  cursor: pointer;
  transition: transform 250ms ease-in-out, filter 250ms linear;
}
.fullscreen-background img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.fullscreen-background .gradient-overlay {
  position: absolute;
  inset: 0;
  background: rgb(52, 73, 94);
  background: linear-gradient(0deg, rgba(52, 73, 94, 0.8547794118) 0%, rgba(52, 73, 94, 0.5) 30%, rgba(52, 73, 94, 0) 100%);
}

p,
li {
  font-size: clamp(1.25rem, 1.2vw, 1.5rem);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: clamp(5rem, 6vw, 8rem);
  line-height: clamp(5rem, 6vw, 8rem);
}

.font-light {
  color: white;
}

.font-dark {
  color: #2c3e50;
}

.row {
  display: flex;
  width: -moz-max-content;
  width: max-content;
}

.img-container {
  width: 100%;
}
.img-container img {
  display: block;
  width: 100%;
}

.clear-button {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  padding: 4px 16px;
}
.clear-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.clear {
  -webkit-backdrop-filter: blur(3px) brightness(1.2) contrast(0.8);
          backdrop-filter: blur(3px) brightness(1.2) contrast(0.8);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.clear:hover {
  -webkit-backdrop-filter: blur(6px) brightness(1.4) contrast(0.6);
          backdrop-filter: blur(6px) brightness(1.4) contrast(0.6);
}

.link-button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: clamp(1rem, 1vw, 1.25rem);
  cursor: pointer;
  text-decoration: none;
}
.link-button:hover {
  text-decoration: underline;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: auto;
}

.big-text-box {
  width: 60vw;
}

.fullscreen-container {
  height: 100%;
  min-height: 100dvh;
  width: 100%;
  overflow: auto;
  background: #ecf0f1;
}

#content {
  height: 100%;
  background: #f7f1e3;
}

#main-container-side-bar {
  background: #f7f1e3;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  grid-area: sidebar;
  overflow-x: auto;
  overflow: auto;
}
#main-container-side-bar #table-selection {
  display: flex;
  flex-direction: column;
}
#main-container-side-bar #table-selection p {
  margin-left: 6px;
  font-size: 18px;
  white-space: nowrap;
}
#main-container-side-bar #img-container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  text-align: left;
  margin: 1rem 1rem 0 0;
  padding: 0;
}

li a {
  color: black;
  text-decoration: none;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0.75em 0.75em;
}

a {
  color: black;
  text-decoration: none;
}

#header-container {
  text-align: center;
  grid-area: header;
  display: grid;
  place-items: center;
  background-color: #2e2d2b;
  color: #f7f1e3;
  padding: 20px;
}

#record-display-container {
  background: white;
  grid-area: content;
  overflow-x: auto;
  height: 100%;
}
#record-display-container table {
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#record-display-container table tr:hover {
  background-color: #f7f1e3;
}
#record-display-container table tr {
  border-bottom: 1px solid #2c3e50;
}
#record-display-container table th {
  background-color: #2e2d2b;
  color: #f7f1e3;
}
#record-display-container table th, #record-display-container table td {
  padding: 8px;
  text-align: left;
}
#record-display-container .record-display-container button h2 {
  padding: none;
}

#create-record-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#create-record-form * {
  margin: 0.5rem;
}

#create-record-label-container {
  display: flex;
  flex-direction: column;
}

#create-record-submit, #record-submit-null {
  flex-basis: 100%;
}

.record-field-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.create-record-label {
  position: relative;
}

#selected-record-fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 2rem 2rem;
}

#record-label-container {
  margin-top: 2rem;
  position: relative;
  flex-basis: 40%;
}

ody.react-confirm-alert-body-element {
  overflow: hidden;
}

.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}
.react-confirm-alert-body h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: none;
  margin: none;
}

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body > h1 {
  margin-top: 0;
}

.react-confirm-alert-body > h3 {
  margin: 0;
  font-size: 16px;
}

.react-confirm-alert-button-group {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.react-confirm-alert-button-group > button {
  outline: none;
  background: #333;
  border: none;
  display: inline-block;
  padding: 6px 18px;
  color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.DropdownButton {
  color: white;
  background-color: blue;
  border-radius: 5px;
  padding: 5px;
  width: -moz-max-content;
  width: max-content;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.DropdownElement {
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 5px;
  width: -moz-max-content;
  width: max-content;
}

.loading-container {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3333333333);
}

.load-spinner-container {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  aspect-ratio: 1;
}

.load-spinner:nth-of-type(1) {
  --n: 1;
}

.load-spinner:nth-of-type(2) {
  --n: 2;
}

.load-spinner:nth-of-type(3) {
  --n: 3;
}

.load-spinner:nth-of-type(4) {
  --n: 4;
}

.load-spinner:nth-of-type(5) {
  --n: 5;
}

.load-spinner:nth-of-type(6) {
  --n: 6;
}

.load-spinner:nth-of-type(7) {
  --n: 7;
}

.load-spinner:nth-of-type(8) {
  --n: 8;
}

.load-spinner:nth-of-type(9) {
  --n: 9;
}

.load-spinner:nth-of-type(10) {
  --n: 10;
}

.load-spinner {
  --n: 1;
  --width: calc((var(--borderWidth) * 2 + (var(--borderWidth) / 2)) * var(--n));
  --animationDuration: calc(8s / (11 - var(--n)));
  --borderWidth: 10px;
  /* --borderWidth: 60px; */
  --strokeColor: #FFF;
  width: var(--width);
  aspect-ratio: 2;
  box-sizing: border-box;
  /* position: relative; */
  position: absolute;
  left: calc(50% - var(--width) / 2);
  bottom: 50%;
  border-top-left-radius: calc(var(--width) / 2);
  border-top-right-radius: calc(var(--width) / 2);
  border: var(--borderWidth) double var(--strokeColor);
  border-bottom: none;
  opacity: calc(1 - var(--n) / 10);
  animation: spinner var(--animationDuration) linear infinite;
  transform-origin: center bottom;
}

.load-spinner:last-of-type {
  position: relative;
}

.load-spinner::after, .load-spinner::before {
  content: "";
  width: var(--borderWidth);
  height: calc(var(--borderWidth) / 2);
  /* background-color: var(--strokeColor); */
  border: calc(var(--borderWidth) / 3) solid var(--strokeColor);
  border-top: none;
  box-sizing: border-box;
  /* border-radius: 50%; */
  border-bottom-left-radius: calc(var(--borderWidth) / 2);
  border-bottom-right-radius: calc(var(--borderWidth) / 2);
  position: absolute;
  bottom: 0;
}

.load-spinner::after {
  left: 0;
  transform: translate(-100%, 100%);
}

.load-spinner::before {
  right: 0;
  transform: translate(100%, 100%);
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slide-in {
  position: relative;
  animation: slideIn 500ms ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */